{# src/VF/CrotoyBundle/Resources/views/Reservation/formSejourtout.html.twig #}

{% extends "VFCrotoyBundle::layoutReservation.html.twig" %}


 {% block ajouter %}  
<h3>Réservation du séjour pour {{ personne.prenom }} {{ personne.nom }}</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

	
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.debut, "Début du séjour", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.debut) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.debut, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.fin, "Fin", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.fin) }}
      <div class="col-sm-4">
        {{ form_widget(form.fin, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

	
	<div class="form-group">
      {{ form_label(form.nadulte, "Nombre d'adultes", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.nadulte) }}
      <div class="col-sm-4">
        {{ form_widget(form.nadulte, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

	<div class="form-group">
      {{ form_label(form.njeunes, "Nombre de jeunes (< 18 ans)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.njeunes) }}
      <div class="col-sm-4">
        {{ form_widget(form.njeunes, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
  
  <a href="{{ path('vf_reservation_recherche') }}">Annuler l'enregistrement</>

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
{% endblock %}