{# src/VF/BlogBundle/Resources/views/Article/formArticle.html.twig #}

{% extends "VFBlogBundle::layoutBlog.html.twig" %}


{% block body_blog %}
<h3> {{ user.username}} va créer un article :</h3>

 <div class="well">
  {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
	
	
	{{ form_row(form.titre) }}
	{{ form_row(form.auteur) }}
	{{ form_row(form.texte) }}
	{{ form_row(form.categories) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
  
  
</div>

{% endblock %}

