{# /src/VF/BlogBundle/Ressources/Blog/voir.html.twig #}

{% extends "VFBlogBundle::layoutBlog.html.twig" %}

{% block body_blog %}
 
<article role="article">
    <div class="row">
	  <div class="col-sm-6">
		<header>
			<h1><a href="" title="">{{ article.titre }}</a></h1>
		   <time datetime="" pubdate="pubdate">{{ article.date | date("d.m.Y") }}</time>
		</header>
					
		<div class="content">
			{{ article.texte }}
			{% if article.image.libelle!="libelle de l'image" %}
				<figure>
					<img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}"  height=200  width=400 />
				<figcaption>{{ article.image.libelle }}</figcaption>
				</figure>
			{% endif %}
		</div>
					
		<footer>Auteur : {{ article.auteur }}</footer>
      </div>
	  
	  <div class="col-sm-5 offset-sm-1">
		<section>
			<div role="sectionhead"><h3>Commentaires :</h3></div>
			 <nav>
				<div class="btn-group">
				<a class="btn btn-success" href="{{ path('vf_commentaire_add', {'id': article.id }) }}">Ajouter un commentaire</a>
				</div>
			</nav>
			</br>
			{% for c in comm %}
			<article>
				<time datetime="">{{ c.date | date("d.m.Y") }}, {{ c.auteur }}</time>
				<div class="comment-content"><a href=" {{ path('vf_commentaire_voir', {'id': c.id }) }}" >{{ c.titre}}</a></div>
			</article>
            {% endfor %}
			
		</section>
	  </div>
    </div>
</br></br></br>
<div class="col-sm-8">
     
      <nav>
		  <div class="btn-group">
            <a class="btn btn-info" href="{{ path('vf_blog_accueil') }}">Retour</a> 
			{% if user.username==article.auteur %}
			<a class="btn btn-success" href="{{ path('vf_article_edit', {'id': article.id }) }}">Modifier cet article</a> 
			<a class="btn btn-danger" href="{{ path('vf_article_delete', {'id': article.id }) }}">Supprimer cet article</a> 
			{% endif %}
		  </div>	
      </nav>
	  
	  </br>
	  {% if is_granted('ROLE_ADMIN') %}
		<form action="{{ path('vf_blog_statuer') }}" method="post" >
			<p>
				<label for="etat">Changer de statut</label><br />
				<select name="etat" id="idetat">
					<option value="Soumis" >Soumis</option>
					<option value="Publie" selected>Publier</option>
					<option value="Refuse">Refuser</option>
				</select>
				</br>
				<label for="num">Id de l'article</label><br />
				<input name="num" value={{ article.id }} type="text"  />
			</p>
			<input type="submit" value="Statuer">
		</form>
	{% endif %}
	  
</div>
</article>
{% endblock %}