{# /src/VF/BlogBundle/Ressources/Blog/voir.html.twig #}

{% extends "VFBlogBundle::layoutBlog.html.twig" %}

{% block body_blog %}

  <h4> {{ commentaire.titre }}</h4>
  <p>{{ commentaire.date | date("d.m.Y") }} , par {{ commentaire.auteur }}
  <p>{{ commentaire.texte }}</p>
   </br></br></br>
<div class="col-sm-8">
      <nav>
		  <div class="btn-group">
            <a class="btn btn-info" href="{{ path('vf_blog_accueil') }}">Retour</a>
		  </div>
      </nav>
</div>

{% endblock %}
