{# src/VF/CrotoyBundle/Resources/views/Personne/confirmationpersonne.html.twig #}

{% extends "VFCrotoyBundle::layoutPersonne.html.twig" %}

    {% block flash %}
		{% for message in app.session.flashbag.get('notice') %}
           <div class="alert alert-info">Message flash : {{ message }}</div>
        {% endfor %}
    {% endblock %}


{% block recherche %}{% endblock %}

 {% block ajouter %}
 <h3 color="red"> {{ message  }}  </h3>
	</br></br>
	
	{% if existant == false %}
	<section>
	<table class="table table-bordered table-striped table-condensed">
	<caption> Voici les données que vous vouliez entrer  </caption>
	<table>
      <tr>
        <th>Nom et prénom</th>
		<th> {{ locataire.prenom }} {{ locataire.nom }} </th>
      </tr>
      <tr>
        <th>Adresse</th>
		<th>{{ locataire.numero }} {{ locataire.rue }}</th>
      </tr>
        <th>Localité</th>
		<th>{{ locataire.cp }}{{ locataire.ville }}</th>
      </tr>
	  <tr>
	  <tr>
        <th>Date de naissance</th>
		<th>{{ locataire.datene | date("d.m.y") }}</th>
      </tr>
	  <tr>
        <th>Pays</th>
		<th>{{ locataire.pays }}</th>
      </tr>
	  <tr>
        <th>Téléphone n°1</th>
		<th>{{ locataire.tel1 }}</th>
      </tr>
	  <tr>
        <th>Téléphone n°2</th>
		<th>{{ locataire.tel2 }}</th>
      </tr>
	  <tr>
        <th>Courriel</th>
		<th>{{ locataire.courriel}}</th>
      </tr>
    </table>
	</section>
	{% endif %}
	
	<div><a class="btn btn-info" href="{{ path('vf_personne_recherche') }}">Retour</a> </div>
{% endblock %}

   

