{# src/VF/CrotoyBundle/Resources/views/Personne/delete.html.twig #}

{% extends "VFCrotoyBundle::layoutPersonne.html.twig" %}

{% block title %}
  Supprimer les données de  - {{ p.nom }} {{ p.nom }}
{% endblock %}


{% block delete %}

  <h2>Supprimer une personne du fichier des locataires</h2>

  <p>
    Etes-vous certain de vouloir supprimer <strong>{{ p.prenom }} {{ p.nom }} </strong> ?
  </p>

  {# On met l'id de la personne dans la route de l'action du formulaire #}
  <form action="{{ path('vf_personne_delete', {'id': p.id}) }}" method="post">
    
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
  
{% endblock %}